<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login con Reconocimiento Facial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a la Aplicación de Reconocimiento Facial</h1>
    </header>
    
    <main>
        <section id="video-section">
            <h2>Inicio de Sesión</h2>
            <video id="video" width="440" height="280" autoplay></video>
            <canvas id="canvas" width="440" height="280" style="display:none;"></canvas>
        </section>

        <section id="register-section">
            <h2>Registrar Cuenta</h2>
            <label for="name">Tu nombre:</label>
            <input type="text" id="name" required>
            <br>
            <button onclick="register()">Registrar</button>
            <button onclick="login()">Login ahora</button>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 Aplicación de Reconocimiento Facial</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
